@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');


:root{

    --color:#4B0082
    /*--blue: #006400*/


}

*{
     
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

*::selection{
    background: var(--color);
    color: whitesmoke;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background: black;
}
html::-webkit-scrollbar-thumb{
    background: var(--color);
}

body{
    background: #282a36;
    overflow-x: hidden;
    padding-left: 35rem;
    color: #00FF00;
}

section{
    min-width: 100vh;
    padding: 1rem;
}

.btn{
    padding: .7rem 3rem;
    background: #4B0082;
    color:#00FF00 ;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}


.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}


.btn:hover{
    background: var(--color);
 
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #8be9fd;
    color: #8be9fd;
}

.heading span{
    color: var(--color);
}

header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--color);
}   

header .user .nome{
    font-size: 3.2rem;
    /*color: antiquewhite;*/
}

header .user .post{
    font-size: 2rem;
    /*color: whitesmoke;*/
}

header .navbar{
    width: 100%;

}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}      
header .navbar ul li a:hover{
    background: var(--color);
}        

#menu{
    position: fixed;
    top:2rem; 
    right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 5rem;
    color:#ff5555;
}

.home h1{
    font-size: 4.5rem;
    color:#ff5555;
}

.home h1 span{
    color: #ffb86c;
}

.home p{
    font-size: 2rem;
    color: #8be9fd;
    padding: 1rem 0;
}

.sobre .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.sobre .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.sobre .row .info h3{
    font-size: 2rem;
    color:#ffb86c ;
    padding: 1rem 0;
    font-weight: normal;
}

.sobre .row .info h3 span{
    color: #ff5555;
    padding: 0 .5rem;
}

.sobre .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sobre .row .counter .box{
    width: 20rem;
    background-color: #6272a4;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.sobre .row .counter .box span{
    font-size: 4rem;
    color: #ffb86c
}

.sobre .row .counter .box h3{
    font-size: 2rem;
    color:#8be9fd;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #ff5555;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: #ff5555;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color: #ffb86c;
    padding-top: 1.5rem;
}

.education .box-container .box .tam{
    font-size: 1.7rem;
    color: #ffb86c;
    padding-top: 1.5rem;
}

/*.education .box-container .box .tam2{
    font-size: 1.7rem;
    color: #fff;
    padding-top: 1.5rem;
}*/

.education .box-container .box p{
    font-size: 1.4rem;
    color: #8be9fd;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top: -1.5rem; left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #f8f8f2;
    background: var(--color);
}

.portifolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portifolio .box-container .box{

    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;

}

.portifolio .box-container .box img{

    height: 100%;
    width: 100%;
    object-fit: cover;

}

.portifolio .box-container .box:hover img{
    transform: scale(1.2);
}


.contato .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contato .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contato .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contato .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #44475a;
    color: black;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;

}

.contato .row form .box::placeholder{
    text-transform: capitalize;
}


.contato .row form .mensagem{
    height: 15rem;
    resize: none;
}

.contato .row .content .title{
    text-transform: uppercase;
    color:#ff5555 ;
    font-size: 3rem;
    padding-bottom: 2rem;
}


.contato .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color:#ffb86c ;
    padding: 1rem 0;
    font-weight: normal;
    font-family:'Times New Roman', Times, serif
}

.contato .row .content .info h3 i{
    padding-right: 1rem;
    
}


@media(max-width:1200px){

html{
    font-size: 55%;
}

.home{
    padding: 1rem 4rem;
}

}/*@media*/


@media(max-width:991px){
    header{
        left: -120%;
    }


    #menu{
        display: block;
    }

    header.toggle{
        left: 0%;
    }

    body{
        padding: 0;
    }
}


@media(max-width:768px){
    html{
        font-size: 50%;
    }
}

@media(max-width:400px){
    header{
        width: 100vw;
    }

    .heading{
        margin: 0 3rem;
    }

    .sobre .row .counter .box{
        width: 100%;
    }

    .education .box-container .box{
        width: 100%;
    }

    .portifolio .box-container .box{
        width: 100%;
    }

    .contato .row form{
        margin: 3rem 0;
    }
}